################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Daneshkar/FileContentIndex/1af60143-e0fb-4de4-b534-acd21de62d17.vsidx
